<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "colouring.splodge23.edu.mit.scratch"
        versionCode = "11" 
        version     = "1.0.2" >
     <preference name="phonegap-version" value="cli-9.0.0" />
    <name>Colouring</name>
    <description>
Colour in your favourite pictures, now includes a boat and flower.
    </description>
    <author href="http://scratch.mit.edu/users/splodge23" email="samuel.ryan.cz@gmail.com">
        splodge23
    </author>
        <icon src="newicon.png"/>
</widget>
