<?xml version="1.0" encoding="UTF-8" ?>
    <widget
        id          = "colouring.splodge23.edu.mit.scratch"
        versionCode = "11" 
        version     = "1.0.1" >
<preference name="KeepRunning" value="true" />
<preference name="DisallowOverscroll" value="true"/>
<preference name="Fullscreen" value="true" />
<preference name="SplashScreenDelay" value="10000" />
<preference name="loglevel" value="DEBUG" />
<preference name="AndroidPersistentFileLocation" value="Compatibility" />
<preference name="orientation" value="default"/>
<preference name="android-targetSdkVersion" value="28" />
    <name>Colouring</name>
    <description>
Colour in your favourite pictures
    </description>
    <author href="http://scratch.mit.edu/users/splodge23" email="samuel.ryan.cz@gmail.com">
        splodge23
    </author>
        <icon src="icon.png"/>
</widget>
